<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      <ion-list>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="demoRegister()">Register</ion-button>
      <ion-button expand="block" (click)="demoLogin()">Login</ion-button>
      <ion-button expand="block" color="medium" (click)="demoLogout()">Logout</ion-button>

      <div *ngIf="user as u" style="margin-top:12px;">
        <p>Logged in as: {{ u.email || u.uid }}</p>
      </div>
    </div>
</ion-content>
